*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    line-height: 1.625;
    margin:0;
    font-family: 'source sans pro',sans-serif;
    color:#6f6f6f;
}
.header{

    color:#fff;
    background: linear-gradient(180deg, rgba(0,0,0,0.922045),rgba(54,54,54,0.5)39.24%, rgba(28,28,28,0.4)),
    url(img/eggs.jpg)center center/cover no-repeat;

}
a {
    color: inherit;
    transition color: 0.3s;
}
img {
    max-width: 100%;
    height: auto;
}
.header-recipes{
    color:#fff;
    background: linear-gradient(180deg, rgba(0,0,0,0.922045),rgba(54,54,54,0.5)39.24%, rgba(28,28,28,0.4)),
    url(img/salad-chicken.jpg)center center/cover no-repeat;

}
.topbar{
    
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    padding:18px 0;  
}
.menu-item:hover{
    color:#c89446;
}
.menu-item{
    display:inline-block;
    margin: 0 15px;
    text-decoration: none;
}
.logo{
    margin-left: 20px;
    margin-bottom: 15px;
    
}
.logo a{
    text-decoration: none;
}
.slogan{
    line-height: 1;
    
    padding:50px 0 70px 0;
    text-align: center;
}
.slogan-welcome{
    font-family:'pinyon script',serif ;
    color:#c89446;
    font-size: 2.2rem;
    display: block;
    

}
.slogan-name{
    display: block;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom:10px ;

}
.slogan-specialité{
    font-size: 1rem;
    font-weight: 300;
    display: block;
    letter-spacing: 2px;
}
.menu-button:hover {
    background: #c89446;
    color:#fff;

}
.menu-button{
    text-decoration: none;
    border:solid 1px #c89446;
    padding:5px 7px;
    transition-property: color,background-color;
    margin-top: 5px;
}

.container-small{
    margin: 0 auto;
    padding:  0 20px;
    max-width: 960px;
}

.block {
    margin-bottom: 50px;
    margin:0 auto;
    padding:0 20px;
    max-width: 960px;
}
.home-section {
    padding-top: 9px;
}


.title {
    
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 1.1;
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    margin:0;
    margin-top: 1rem;
}
.title span {
font-family:'pinyon script',serif ;
color: #c89446;
font-size: 2.5rem;
display: block;
text-transform: none;
}
.title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #c89446;
    margin-bottom: 0.5rem;

}
.more {
    color:#c89446;
} 
.more:hover { 
    text-decoration: underline;
}
.more::after {
    content:' >';


}
.block-img {
    
    max-width: 350px;
    margin:0 auto;  
    
    border:solid 1px #c89446;
}
.block-img img {
    display: block;

}
.block-img img {
    position: relative;
    z-index: 1;

}
.block-centered {
    text-align: center;

}
.ingredients-menu {
    font-weight: 600;
    color: #383838;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;

}
.ingredients-menu a {
    display:inline-block;
    margin: 0 8px;
    text-decoration: none;
    position: relative;
}


.ingredients-menu a::after { 
    content:'';
    display:block;
    position: absolute;
    bottom:0px;
    left:0;
    right: 0;
     height: 1px;
     opacity:0;
    background: #c89446;
    transition: .3s;

}
.ingredients-menu .active::after {
    bottom:0px;
    opacity: 1;
    
}
.ingredients-menu a:hover::after{
    bottom:0;
    opacity:1;
}
.menu-summary-title {
    font-size:1.125rem ;
    color:#383838;
    font-weight: bold;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
     ;
}
.menu-summary p {
    margin-top: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}
.menu-summary-item {
    position:relative;
   /* padding-left: 120px;*/


   display: inline-block;
    margin-bottom: 30px;
}
.menu-summary {
    position:relative;

}
.menu-summary-img {
    width: 100%;
    /*position:absolute;
    top:0;
    left:0;
    width: 100px;*/
}
.menu-summary-price {
    font-family: 'pinyon script', serif ;
    color:#c89446;
    font-size: 1.5rem ;
    line-height: 1;
}
.reservation{
    text-align: center;
    color:rgba(255,255,255,0.6);
    background: linear-gradient(180deg, rgba(0,0,0,0.922045),rgba(54,54,54,0.5)39.24%, rgba(28,28,28,0.4)),
    url(img/resto.jpg)center center/cover no-repeat;
    padding:50px 0;
     

}
.reservation .title{
    color: #fff;
}
.reservation-form-row input {

    padding:0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border:solid 1px #6f6f6f;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    font-size: 0.875rem;
    color: white;
    font-family:'source sans pro',serif ;
    transition:background-color .3s, border-color .3s;
    border: 2px;
}

.reservation-form-row select {
    padding:0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border:solid 1px #6f6f6f;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    font-size: 0.875rem;
    color: white;
    font-family:'source sans pro',serif ;
    transition:background-color .3s, border-color .3s;
    border: 2px;
}
}
.reservation input:focus {
    outline:none;
    
    border-color:#c89446;

}
.reservation select:focus {
    outline:none;
    background: rgba( 255,255,255,0.1);
    
    border-color:#c89446;


}
.reservation input:hover {
    color: #c89446;
}
.button {
    font-weight: 600;
    font-size: 0.875rem;
    color:#fff;
    background: #c89446;
    border:none;
    border: solid 1px #c89446;
    padding: 11px 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition:0.3s;
    
    

}
.reservation-form {
    margin: 0 20px;
}

.block-reservation p {
    margin: 0 20px;
    
}
.reservation .button {
    width:100%;
}
.button:hover {
    color:#c89446;
    border: solid 1px #c89446;
    background: transparent;
    
    }
    .block-body-reservation {
    
    }
    .reservation p {
        margin: 0 20px;
    
    }
    .recipes {
        
        padding:50px 0;
        background: no-repeat top left/ 100vw auto url(img/news-bg.jpg);
    }
    .recipes-item {
        border-bottom: solid 1px #F2F2F2;
        padding:40px 0;
        margin-top: 1em;
        display: flex;

    }
    .recipes .more {
        display:block;
        text-align:right;
        margin-top: 60px;
    }
    .recipes-list {
        font-weight: 300;
        font-size: 1.125rem;
    }
    .recipes-list strong {
        color:#383838;
        font-weight: bold;
    }
    .recipes-date strong {
        font-size: 1.75rem;
        display: block;
        
    }
    .recipes-list {
        max-width: 920px;
        margin-left: auto;
        margin-top:64px;
        margin-bottom: 64px;
    }
    .recipes-date  {
        margin: 0 15px;
        width: 60px;
    }
    .recipes-item p {
        margin-top: 0;
    }
    .recipes .title {
        text-align: center;
        margin:10px;
    }
    .recipes .container > p {
        text-align: center;
        margin: 0 10px;
    }
    .map {
        width:100%;
        height: 460px;
    }
    .footer{
        background: #383838 bottom right no-repeat;
        font-weight: 300;
        color: #F2F2F2;
        padding:40px 0;
    }
    .footer-title {
        color:#c89446;
        margin-bottom:1.25em;
        font-weight: bold;
    }
    .column {
        margin-bottom: 2rem;
    }
    .footer-colonnes {
        margin: 0 40px;
    }
    .column ul {
        padding-left: 0;
        list-style: none;
    }
    .column ul li::before {
        content:'-';
    }

     .column a {
         text-decoration: underline;
         font-weight:600;
     }
     .column a:hover {
         color: #c89446;
         
     }
     .credits span {
         font-weight: bold;
         }
      .credits {
        margin-left: 40px;
        font-size: 0,4em;
    }
    .block-ingredients {
       /* display :inline-block;
        margin:auto;*/
        display:block;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px  #c89446;
        padding:35px 20px;
        font-weight: 600;
        color:#383838;
    }
    .block-ingredients ul {
        padding:0;
        margin:0;
        list-style: none;
    }
    .block-ingredients span {
        width: 35px;
        text-align: right;
        display:inline-block ;
        margin-right: 20px;
        font-weight: 300;

    }
    .block-ingredients li {
        padding:5px 0;
    }
    /*.section-overflow {
        padding:20px 0;
    }*/
    .container-small-recipes {
        padding: 20px 0;
    
    }
    .block-body-ingredients {
        padding: 0 20px;
    }
     
    
    
    .block-video {
        position:relative;
        text-align: center;
        background: #383838;
        display: block;
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
    }
    .block-video img{
        box-shadow:0 0 30px #7F7F7F  rgba (128,128,128,0.5);
        transition: opacity  .3s;
    }
    .block-video::after {
        content:'';
        background:url(img/play.png) center center  no-repeat ;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        transition: background-size .3s;

    }
    .block-video:hover::after {
        background-size: 100px 100px;

    }
    .block-video:hover img {
        opacity: .9;
        ox-shadow:0 0 30px #7F7F7F  rgba (128,128,128,0.5);
    }
    
    
    .recipes-mosaic p {
        margin: 0;
    }
    .pagination {
        list-style: none;
        margin:30px  0;
        padding:0;
        text-align: center;
    }
    .pagination li {
        display:inline-block;

    }
    .pagination a {
        border:1px solid #c89446;
        display:inline-block;
        width: 7px;
        height: 7px;
        border-radius:7px;
        overflow: hidden;
        text-indent: -3000px;/*pour cacher les numero*/
        transition:background-color .3s;
        margin:0 15px;
    }
    .pagination a .active, .pagination a:hover {
        background: #c89446;

    }
    .pagination .active{
        background: #c89446;

    }



@media screen and (min-width: 800px){
    .block {
        margin-bottom: 100px;
        padding:0 20px;
        margin:0 auto;
    }
    .block-last {
        margin-bottom: 60px;
    }
    
    .block-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .block-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     .block-left .block-img{
        
        
        margin-left: 30px;
        
        
    }
    .block-right .block-img {
        width: 350px;
        margin-right: 30px;
        
    }
    .block-img img{
        display: block;
    }
    .block-img img {
        transform: translate(20px,20px); /*pour creer 
        le decallage de l'image burger */

    }
    
    /*.block-img::before {
        content: "";
        display: block;
        position:absolute;
        border:solid 1px #c89446;
        width:100%;
        height: 100%;
        top:-30px;
        left:-30px ;
        z-index: 0;
         2eme option pour creer le decallage de l'image burger et chicken
    }*/
     .block-right .block-img::before {

       left:auto;
       right: -30px;
    }
    .block-img img {
        position: relative;
        z-index: 1;
    }
    
    .block-left .block-body{
        margin-left:20px ;
        width: 445px;
        flex: none;
        
    }
    .block-right .block-body {
        width:445px;
        flex:none;
        margin-right:20px ;
        order:-1;
    }
    .title::before {
        margin-bottom: 10px;
    }
    .title {
        margin-bottom: 1.2rem;
    }
    .more {
        display: block;
        margin-top: 1.3rem;
    }
    


     .home-section {
     background: top 95px right 0px url(img/oranges.jpg) no-repeat,
      top 640px left 0px url(img/spices.jpg) no-repeat;
            
      }
     .ingredient-menu a {
     margin:0 32px;
    }
     .menu-summary {
    position:relative;
    padding:85px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

      }
    .menu-summary-item {
        position:relative;
       /* padding-left: 120px;
     display: inline-block;
        margin-bottom: 30px;*/
    
    padding-left: 192px;
    width:50%;
    margin-bottom: 110px;
    width: calc(50%-45px)

     }
    .menu-summary-img {
     position:absolute;
    /*top:0;
    left:0;
    width: 100px;*/

    width:160px;
    height: 160px;

    }
    .menu-summary-img-left {
        position:absolute;
        left:0;
        right:auto;
        width:160px;
        height: 160px;
    }
    .menu-summary-title {
    margin-top: 0;
    line-height: 1.2;
    background: #fff;
}
.menu-summary p{
    background: #fff;
}
.menu-summary-item:nth-child(2n){
    text-align: right;
    padding-left: 0;
    padding-right: 192px;

}
.menu-summary-item:nth-child(2n) .menu-summary-img {
    left:auto;
    right:0;
}
.menu-summary-item:nth-child(2n) .menu-summary-price {
    margin-left: auto;
}
.menu-summary-price{
    margin-top:1.4rem;
    background: #fff;
    width: 85px;
}
.menu-summary::before {
    content: '';
    position: absolute;
    display: block;
    top:45%;
    left:50%;
    width: 450px;
    height: 450px;
    border:solid 1px #c89446 ;
    transform:translate(-50%,-260px) rotate(45deg);

}
.block-chief {
    display:flex;
    align-items: center;
    

}
.block-chief .block-img::before {
    display:none;

}
.block-left .block-img::before {
    border:none;
    
}
 .block-chief .block-img-barrio {
     flex:none;
     width: 400px;
     order:2;
     
 }
 .block-chief .more{
     margin-top: 50px;
 }
 .reservation {
     padding: 100px;

 }
 .block-body-reservation p {
    margin: 0 ;
 }
 .reservation-form-row{
    margin: 64px 0;
    display:flex;
    justify-content: space-between;
 }

 .reservation-form-row input {
     width: calc(25% - 30px);
     margin-bottom: 0;
     border:solid 1px #6F6F6F;

 }
 .reservation-form-row select {

    width: calc(25% - 30px);
    margin-bottom: 0;
    border:solid 1px #6F6F6F;
 }
 .reservation  .button {

    width: calc(25% - 30px);


 }
 .recipes {
     padding: 60px 0;
     margin-right: 40px;
 }
 .recipes .title {
     text-align: right;

 }
 .recipes-item a{
     text-decoration: none;
 }
 .recipes a:hover {
     text-decoration: underline;
 }
.recipes .container > p {
    text-align: right;
    max-width: 600px;
    margin-left: auto;
    }

    .recipes-date {
        width: 95px;
    }
    .recipes-item {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .footer-colonnes {
        display: flex;
        justify-content:space-between ;
        margin:0  50px;
    }
    .column {
        width: 290px;
        margin-right: 50px;

    }
    .column:first-child {
        width:450px;
    }
    .column:last-child {
        margin-right: 0;
        flex: none;
    }
    .footer {
        background-image: url(img/splash.png);
    }
    .block-ingredients span {
        width: 35px;
        margin-right: 50px;
    }
    /*.section-overflow {
        padding:50px 0;
    }*/
    .container-small-recipes {
        max-width: 960px;
        display:flex;
        padding:0 20px;
        margin:0 auto;
        margin-bottom:100px;
        
        
       /* 
        margin-top: -20px;
        padding-left: 20px;
        margin-right: 70px;
        margin-left: 70px;
        padding-right: 20px;*/
    }
    .block-ingredients{
        margin-top: -20px;
    
        width:350px;
        height: 425px;
        padding: 35px 40px;
        margin:auto;
    }
    .block-body-ingredients {
        width:50% ;
        margin-top:80px;
        
        flex:0 auto;
    
    }
    .block-left-recipes {
        margin-top:-20px;
        margin-right: auto;

    }
    /*.block-right-recipes {
        margin-top: 50px;*/
         
    }
    .block-body-recipes{
        margin-right:
    }
    .block-right-recipes {
        margin-bottom: ;
    }
    
    
    .block-ingredients li {
        padding:10px 0;
    }
    .block-left{
        margin-left:0;
    }
    .block-video {
        margin-left: 28px;
    }
    .recipes-mosaic {
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom: -60px;
    }
    .recipes-mosaic .menu-summary-item {
        width:calc(50%-25px);
        margin-bottom:60px ;
        font-size: 0.875rem;
        
    }
    .recipes-mosaic .menu-summary-img {
        width:125px;
    }

    .container-recipes {
        max-width: 960px;
        padding: 50 20px;
        margin: auto;
    }
    .pagination {
        margin:60px 0;
    }
}






@media screen and (min-width: 600px) {
    html{
        font-size: 16px;
    }
    .slogan-name{
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 7px;
        padding-bottom: 18px;
    }
    .slogan-welcome{
        font-size:3.75rem ;
    }
    .slogan-specialité{
        font-size: 1.5rem;
    }
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1150px;
        margin: 0 auto;
    }
    .menu-button {
        margin-top: 0;
        margin-right: 0;
    }
    .slogan {
        padding: 125px 0 230px;

    }
    .logo{
        margin-bottom: 0;
    }
    

}

